@model Automobiliu_skelbimu_portalas.Models.HomepageAdVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <form asp-action="Search" asp-controller="Ad" method="get">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.DropDownListFor(q => q.Search.CarMakeId, new SelectList(Model.Search.MakeList, "Value", "Text"), "Select Make Type", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.DropDownListFor(q => q.Search.CarModelId, new SelectList(Model.Search.ModelList, "Value", "Text"), "Select Model Type", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.DropDownListFor(q => q.Search.YearFromInt, new SelectList(Model.Search.YearFrom, "Value", "Text"), "Select Year from", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.DropDownListFor(q => q.Search.YearToInt, new SelectList(Model.Search.YearTo, "Value", "Text"), "Select Year to", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.DropDownListFor(q => q.Search.PriceFromInt, new SelectList(Model.Search.PriceFrom, "Value", "Text"), "Select Price from", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.DropDownListFor(q => q.Search.PriceToInt, new SelectList(Model.Search.PriceTo, "Value", "Text"), "Select Price to", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.DropDownListFor(q => q.Search.BodyTypeId, new SelectList(Model.Search.BodyTypeList, "Value", "Text"), "Select Body type", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.DropDownListFor(q => q.Search.FuelTypeId, new SelectList(Model.Search.FuelTypeList, "Value", "Text"), "Select Fuel type", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.DropDownListFor(q => q.Search.GearBoxId, new SelectList(Model.Search.GearBoxList, "Value", "Text"), "Select Gearbox Type", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                @Html.DropDownListFor(q => q.Search.ColorId, new SelectList(Model.Search.ColorList, "Value", "Text"), "Select Color", new { @class = "form-control" })
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.DropDownListFor(q => q.Search.DamageId, new SelectList(Model.Search.DamageList, "Value", "Text"), "Select Damage Type", new { @class = "form-control" })
                </div>
            </div>
        </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
</form>
</div>
<div class="row">
    @if (!Model.Ads.Any())
    {
        <div class="alert alert-danger" role="alert">
            No Data Found
        </div>
    }
    else
    {
        @foreach (var item in Model.Ads)
        {
            <div class="auto-card">

                <div class="col-lg-3">
                    <a asp-action="Details" asp-controller="Ad" asp-route-id="@item.Id" target="_blank">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://autoplius-img.dgn.lt/ann_25_125613435/mercedes-benz-clk55-amg-5-4-l-kupe-coupe-2005-benzinas.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.CarMake.Title) - @Html.DisplayFor(modelItem => item.CarModel.Title)</h5>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Year) (@Html.DisplayFor(modelItem => item.Price)$)</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>


        }
    }
</div>
