@model IEnumerable<Automobiliu_skelbimu_portalas.Data.Ad>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Make
            </th>
            <th>
                Model
            </th>
            <th>
                Year
            </th>
            <th>
               Price
            </th>
            <th>
               Fuel type
            </th>
            <th>
                Body type
            </th>
            <th>
                Engine capacity
            </th>
            <th>
                Kilometrage
            </th>
            <th>
                Damage type
            </th>
            <th>
                Color
            </th>
            <th>
                Seats
            </th>
            <th>
                GearBox
            </th>
            <th>
                SteeringWheel
            </th>
            <th>
                Approved
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarMake.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelType.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyType.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kilometrage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damage.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GearBox.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SteeringWheel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
